
#nav{
    position: fixed;
    top: 0;
    background-color:  $color-dark-primary !important;
    box-shadow: 0px 4px 4px 0px rgba(81, 45, 93, 0.08);
    border-bottom: 0.5px solid $color-accent-primary-cian !important;
    z-index: 10;
    height: 64px;
    margin-top: 0;
    max-width: 100%;
    .navbar-brand{
        width: 10%;
        margin-left: 16px;
        img{
            width: 100%;
        }
    }



    .navbar-collapse{
        background-color: $color-dark-primary;
        margin-top: 2vh;
        padding-bottom: 2vh;
        .navbar-nav{
            width: 100%;
            .nav-item{
                margin-left: 32px;
            }
        }

        form{
            .btn{
                width: 300px;
                margin-left: 5%;
                background-color: $color-accent-primary-yellow;
                border: 2px solid $color-accent-primary-yellow;
                a{
                    color: $color-dark-primary;
                    font-weight: 600;
                    font-family: 'Roboto', Arial, Helvetica, sans-serif;
                    text-decoration: none;
                }
                color: $color-dark-primary;
                font-weight: 600;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                transition: all ease 0.5s;
            }
        }

        .dropdown-menu{
            background-color: $color-dark-primary;
            li{
                a{
                    color: $color-white;
                    &:hover{
                        background-color: transparent;
                        color: $color-accent-primary-yellow;
                        font-weight: 600;
                    }
                }
            } 
        }
    }

    .active{
        color: $color-accent-primary-yellow !important;
        font-weight: 600;
    }

    .nav-link{
        color: $color-white;
        font-family: 'Roboto', Arial, Helvetica, sans-serif;
        &:hover{
            color: $color-accent-primary-yellow;
            font-weight: 600;
        }
    }

    .navbar-toggler{
        background-color: $color-accent-primary-yellow;
        border: 1px solid $color-accent-primary-yellow;
    }




}

.DemoNav{
    width: 100%;
}

@media(max-width:991px){
    #navbarNav{
        background-color: $color-dark-primary;
        .navbar-collapse{
            margin-top: 0vh;
            padding-bottom: 0vh;
        }
        form:not(.collapsed){
            margin-bottom: 4vh;
            .btn{
                width: 300px;
                margin: 0 !important;
                background-color: $color-accent-primary-yellow;
                border: 2px solid $color-accent-primary-yellow;
                color: $color-dark-primary;
                font-weight: 600;
                font-family: 'Roboto', Arial, Helvetica, sans-serif;
                transition: all ease 0.5s;
            }
        }

    }
}

@media(min-width:992px) and (max-width: 1199px){
    #nav{    
        .navbar-brand{
            width: 6%;
            margin-left: 16px;
            img{
                width: 100%;
            }
        }
    
        .navbar-collapse{
            margin-top: 0vh;
            padding-bottom: 0vh;
            .navbar-nav{
                width: 100%;
                .nav-item{
                    margin-left: 32px;
                }
            }
            form{
                .btn{
                    width: 300px;
                    margin-left: 30%;
                    background-color: $color-accent-primary-yellow;
                    border: 2px solid $color-accent-primary-yellow;
                    color: $color-dark-primary;
                    font-weight: 600;
                    font-family: 'Roboto', Arial, Helvetica, sans-serif;
                    transition: all ease 0.5s;
                    &:hover{
                        background-color: transparent;
                        a{
                            color: $color-accent-primary-yellow;
                        }
                    }
                }
            }
        }
    
        .active{
            color: $color-accent-primary-yellow !important;
            font-weight: 600;
        }
    
        .nav-link{
            color: $color-white;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            &:hover{
                color: $color-accent-primary-yellow;
                font-weight: 600;
            }
        }
    
    }
}



@media(min-width:1200px){
    #nav{    
        max-width: 100%;
        .navbar-brand{
            width: 6%;
            margin-left: 16px;
            img{
                width: 100%;
            }
        }
    
        .navbar-collapse{
            margin-top: 0vh;
            padding-bottom: 0vh;
            .navbar-nav{
                width: 100%;
                .nav-item{
                    margin-left: 32px;
                }
            }
            form{
                .btn{
                    width: 300px;
                    margin-left: 40%;
                    background-color: $color-accent-primary-yellow;
                    border: 2px solid $color-accent-primary-yellow;
                    color: $color-dark-primary;
                    font-weight: 600;
                    font-family: 'Roboto', Arial, Helvetica, sans-serif;
                    transition: all ease 0.5s;
                    &:hover{
                        background-color: transparent;
                        a{
                            color: $color-accent-primary-yellow;
                        }
                    }
                }
            }
            .dropdown-menu{
                background-color: $color-dark-primary;
                li{
                    a{
                        color: $color-white;
                        &:hover{
                            background-color: transparent;
                            color: $color-accent-primary-yellow;
                            font-weight: 600;
                        }
                    }
                }

                .activeDrop{
                    color: $color-accent-primary-yellow;
                    font-weight: 600;
                }
            }
        }
    
        .active{
            color: $color-accent-primary-yellow !important;
            font-weight: 600;
        }
    
        .nav-link{
            color: $color-white;
            font-family: 'Roboto', Arial, Helvetica, sans-serif;
            &:hover{
                color: $color-accent-primary-yellow;
                font-weight: 600;
            }
        }
    
    }
}